@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Outfit&family=Playfair:opsz,wght@5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

:root {
    /* COLORS */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* FONT SIZES */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* FONT WEIGHTS */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site max width */
    --site-max-width: 1200px;
}             

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);   
}    
header .navbar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}         
.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);

}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-n);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
   
}
 .navbar :where(#menu-close-button, #menu-open-button){
    display: none;
 }
/* Hero Section */
.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
}
.hero-section .section-content {
 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}
.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}
.hero-section .hero-details .subtitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    margin-top: 8px;
    max-width: 70%;
}
.hero-section .hero-details .description {
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(---primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.hero-section .hero-details .button:hover,.hero-section .hero-details .contact-us {
    background: var(--white-color);
    color: var(--white-color);
    background: transparent;
}
.hero-section .hero-details .contact-us:hover{
    background: var(--primary-color);
    Border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}   
@media screen and (max-width:900px) {
    :root{
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
    }
    body.show-mobile-menu header ::before  {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
        z-index: 4;

    }
    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
        display: block;
    }
    .navbar #menu-close-button {
       position: absolute;
         top: 30px;
        right: 30px;
    }
    .navbar #menu-open-button {
        color: var(--white-color);
    }
    .navbar .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }
    body.show-mobile-menu .navbar .nav-menu {
        left: 0;

    }
     .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
     }
    .hero-section .section-content {
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
        justify-content: center;
}
.hero-section .hero-details :is(.subtitle, .description) {
    max-width: 100%;
}
.hero-section .hero-details .buttons {
    justify-content: center;
}
.hero-section .hero-image-wrapper {
    margin-right: 0;
    max-width: 270px;
}
}